.input-password-wrapper {
    margin-right: 2rem;
    label {
        display: block;
        margin-bottom: .5rem;
        font-weight: bolder;
        font-size: 14;
    }
    input {
        padding: 3px 22px 3px 3px;
    }

    .form-control {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-clip: padding-box;
        background-color: #fff;
        border-radius: .25rem;
        border: 1px solid #ced4da;
        color: #212529;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        padding: .375rem .75rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    img.icon-eye {

        height: 15px;
        width: 15px;
        position: relative;
        top: 2px;
        right: 20px;
        cursor: pointer;
        opacity: 0.5;

        &.active {

            opacity: 1;


        }
    }
}