@import "../../../../../styles/base.scss";

.steps-content {
    .form-content {
        .form-info {
            h3 {
                font-size: 18px;
                font-weight: bold;
            }
        }

        .form-password {

            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;


            }
        }

        .form-hint {

            display: block;
        }

        .btn div {
            display: inline !important;
        }

        .validation-error p{
            color: #dc3545;
            font-size: 12px;
        }
    }
}

